// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Noto+Sans:wght@400;700&family=Old+Standard+TT&display=swap');


body {
	font-family: Archivo;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;

}
.content {
	flex: 1 1 auto;
	
}

.container {
	max-width: 1159px;
	margin: 0px auto;
}

.con {
	max-width: 1110px;
	margin: 0 auto;
}
.title {
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 30px;
	line-height: 45.84px;
	letter-spacing: 0.03em;
}
.btn {
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 17px;
	line-height: 25.98px;
	letter-spacing: 0.03em;
	color: #fff;
	background: #AEA784;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

//main start

.main {
	padding: 50px 0px 0px 0px;

		&__row {
			display: flex;
			justify-content: space-between;
		}

		&__body {
			flex: 1 1 auto;
			font-weight: 500;
			padding: 0px 100px 0px 0px;
			align-self: center;
		}

		&__titile {
			font-size: 35px;
			line-height: 48.23px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			margin: 0px 0px 43px 0px;
		}

		&__text {
			font-size: 16px;
			line-height: 29.97px;
			letter-spacing: 0.03em;
			margin: 0px 0px 43px 0px;
			padding: 0px 400px 0px 0px;
		}

		&__button {
			
			padding: 15px 64px;
		}

		&__image {
			flex: 0 0 445px;
		}
		&__image img {
			max-width: 100%;
		}
}

//main end

//new start

.new {
	padding: 100px 0px;
	font-family: Noto Sans;

	&__title {
		margin: 0px 0px 68px 0px;
	}

	&__con {
		
		
	}

	&__row {
		display: flex;
		margin: 0px -15px;
	}

	&__column {
		flex: 0 1 33.333%;
		padding: 0px 15px;
	}

	&__item {
	}

	&__image {
		margin: 0px 0px 19px 0px;
	}

	&__name {
		font-weight: 700;
		font-size: 17px;
		line-height: 25.98px;
		letter-spacing: 0.03em;
		margin: 0px 0px 7px 0px;
	}

	&__price {
		font-weight: 400;
		font-size: 13px;
		line-height: 19.86px;
		letter-spacing: 0.03em;
		color: #AEA784;
	}
}



//new end

//subscribe start
.subscribe {
	padding: 0px 0px 100px 0px;

	&__con {
		background: #ECE9E4;
        border-radius: 14px;
	}

	&__row {
		display: flex;
	}

	&__body {
		flex: 1 1 auto;
		align-self: center;
		padding: 0px 50px 0px 92px;
	}

	&__title {
		margin: 0px 0px 62px 0px;
	}

	&__email {
		font-family: Noto Sans;
		font-size: 17px;
		font-weight: 700;
		line-height: 25.98px;
		letter-spacing: 0.03em;
		color: rgba(0, 0, 0, 0.46);
		display: inline;
		padding: 0px 328px 8px 0px;
		margin: 0px 0px 8px 0px;
		border-bottom: 1px solid #686868;
	}

	&__button {
		font-size: 15px;
		padding: 8px 26px;
	}

	&__image {
		flex: 0 0 349px;
	}
	&__image img {
		max-width: 100%;
	}
	
}




//sumscribe end


//info start

.info {
	padding: 0px 0px 100px 0px;

	&__con {
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__title {
	line-height: 40.86px;
	padding: 0px 65px 0px 0px;
	}

	&__body {
		display: flex;
		margin: 0px -67.5px;
	}

	&__item {
		font-family: Archivo;
		font-weight: 500;
		padding: 0px 67.5px;

	}

	&__number {
		font-size: 30px;
		letter-spacing: 0.03em;
		color: #AEA784;
		line-height: 152.8%;
	}

	&__text {
		font-size: 16px;
		letter-spacing: 0.03em;
		line-height: 24.45px;
	}
}	


//info end

//footer start

.footer {
	background: #474537;
	//min-height: 360px;

		&__row {
		}

		&__text {
			font-family: Old Standard TT;
			font-size: 25px;
			line-height: 30.9px;
			letter-spacing: 0.455em;
			color: #fff;
			padding: 165px 0px;
			text-align: center;
		}
}
 //footer end